<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div id="page" layout:fragment="content">

    <p th:text="${info}"></p>
    <form th:action="@{/user/register}" method="post">
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="address"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Register" id="signInButton"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>