<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div id="page" layout:fragment="content">

    <div th:if="${not #sets.isEmpty(orders)}" class="shoppingCartEnum">
        <table class="shoppingCartEnumInside">
            <tr th:each="order, index: ${orders}">
                <td th:text="'Order Number ' + ${index.index + 1}"></td>
                <td th:text="'Order status: ' + ${order.orderStatusDTO}"
                ></td>
                <td>
                    <table>
                        <tr th:each="line: ${order.orderItemDTOSet}">
                            <td  id="leftDivShoppingCart">
                                <div>
                                    <img th:src="'/images/' + ${line?.productWCharsDTO?.image}" class="imgProductInShoppingCart">
                                </div>
                            </td>
                            <td  id="rightDivShoppingCart">
                                <div>
                                    <a th:href="'/' + ${line?.productWCharsDTO?.productDTO?.categoryDTO?.category} + '/details?productId=' + ${line?.productWCharsDTO?.productDTO?.productId}" th:text="${line?.productWCharsDTO?.productDTO?.name}"></a>

                                    <!--Depending on the type of the product(boots, snowboard), show only certain characteristics-->
                                    <div th:if="${line?.productWCharsDTO?.snowboardCharacteristicsDTO != null}">
                                        <p th:text="'length: '+ ${line?.productWCharsDTO?.snowboardCharacteristicsDTO?.length}" ></p>
                                    </div>

                                    <div th:if="${line?.productWCharsDTO?.snowboardBootsCharacteristicsDTO != null}">
                                        <p th:text="'Boot Size CM: ' + ${line?.productWCharsDTO?.snowboardBootsCharacteristicsDTO?.shoeSizeDTO?.cm}"></p>
                                        <p th:text="'Boot Size EU: ' + ${line?.productWCharsDTO?.snowboardBootsCharacteristicsDTO?.shoeSizeDTO?.eu}"></p>
                                        <p th:text="'Color: ' + ${line?.productWCharsDTO?.snowboardBootsCharacteristicsDTO?.shoeSizeDTO?.eu}"></p>
                                    </div >
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${#sets.isEmpty(orders)}" class="noProdDiv">
        <h1 th:text="'You have never ordered anything from our shop.'" ></h1>
        <img src="/images/order/Empty_Cart.jpeg">
    </div>
</div>
</body>
</html>