<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div id="page" layout:fragment="content">

    <script>
        function objectifyForm(form) {//serialize data function

            var formArray = form.serializeArray();

            var returnArray = {};
            var ridingStyle = [];
            var ridingLevel = [];
            for (var i = 0; i < formArray.length; i++){
                if(formArray[i]['name'] == 'ridingStyle') { //make array of ridingStyle
                    console.log(formArray[i]['value']);
                    ridingStyle.push(JSON.parse(formArray[i]['value'])); //since we get the ridingStyle already as JSON, we need to transform it into an actual JS object
                } else if(formArray[i]['name'] == 'ridingLevel') {
                    console.log(formArray[i]['value']);
                    ridingLevel.push(JSON.parse(formArray[i]['value']));
                }
                else {
                    returnArray[formArray[i]['name']] = formArray[i]['value'];
                }
            }


            console.table(ridingStyle);
            returnArray['ridingStyleDTOSet'] = ridingStyle;
            console.table(ridingLevel);
            returnArray['ridingLevelDTOSet'] = ridingLevel;
            console.log('hey' + returnArray['categoryDTO']);
            returnArray['categoryDTO'] = JSON.parse(returnArray['categoryDTO']);
            console.log('hey' + returnArray['brandDTO']);
            returnArray['brandDTO'] = JSON.parse(returnArray['brandDTO']);
            console.log('hey' + returnArray['targetGroupDTO']);
            returnArray['targetGroupDTO'] = JSON.parse(returnArray['targetGroupDTO']);

            console.table(returnArray);
            return returnArray;
        }

        function formToJSON(form) {
            return JSON.stringify(objectifyForm(form));
        }
    </script>

    <div class="snowboardBaseEnum">

        <div class="snowboardBaseEnumInside">
            <table class="enumTable" id="enumProductTable" align="center">
                <tr>
                    <td colspan="15"><h1 class="tableTitle">Snowboards</h1></td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>DESCRIPTION</td>
                    <td>PRICE</td>
                    <td>STIFFNESS</td>
                    <td>CATEGORY</td>
                    <td>STYLES</td>
                    <td>LEVEL</td>
                    <td>BRAND</td>
                    <td>TARGET GROUP</td>
                    <td>DELETE</td>
                    <td style="text-align: center">EDIT</td>
                </tr>
                <tr th:each="snowboardBase,iter: ${snowboardBases}">
                    <td th:text="${snowboardBase.productId}"></td>
                    <td th:text="${snowboardBase.name}"></td>
                    <td>
                        <details>
                            <summary th:text="'Details'"></summary>
                            <p th:utext="${snowboardBase.description}"></p>
                        </details>
                    </td>
                    <td th:text="${snowboardBase.price}"></td>
                    <td th:text="${snowboardBase.stiffness}"></td>
                    <td th:text="${snowboardBase.categoryDTO != null ? snowboardBase.categoryDTO.category : 'NOT FOUND'}"></td>
                    <td>
                        <div th:if="snowboardBase.ridingStyleDTOSet != null">
                            <li th:each="ridingStyle : ${snowboardBase.ridingStyleDTOSet}" th:text="${ridingStyle.style}"></li>
                        </div>
                    </td>
                    <td>
                        <div th:if="snowboardBase.ridingLevelDTOSet != null">
                            <li th:each="ridingLevel : ${snowboardBase.ridingLevelDTOSet}" th:text="${ridingLevel.level}"></li>
                        </div>
                    </td>
                    <td th:text="${snowboardBase.brandDTO != null ? snowboardBase.brandDTO.name : 'NOT FOUND'}"></td>
                    <td th:text="${snowboardBase.targetGroupDTO != null ? snowboardBase.targetGroupDTO.groupName : 'NOT FOUND'}"></td>
                    <td>
                        <script>
                            function deleteSnowboardBase (idSnowboardBase){
                                if(confirm("Are you sure you wanna delete this SnowboardBase?")) {
                                    $.ajax({
                                        url:'snowboard/' + idSnowboardBase,
                                        type:'DELETE',
                                        success:function(){
                                            alert("SnowboardBase deleted successfully");
                                        }
                                    });
                                    location.reload();
                                    $("#enumSnowboardBaseTable").load(" #enumSnowboardBaseTable>*");
                                } else {
                                    alert("ok u cool");
                                }
                            }
                        </script>

                        <button type="button" th:onclick="'deleteSnowboardBase(' + ${snowboardBase.productId} + ')'">DELETE</button>

                    </td>
                    <td>
                        <script>
                            function editSnowboardBase (index){

                                var form = $('#editSnowboardBase' + index);
                                var data = formToJSON(form);

                                $.ajax({
                                    url:'snowboard/',
                                    type:'put',
                                    contentType: "application/json; charset=UTF-8",
                                    data:data,
                                    dataType:"json",
                                    success:function(){
                                        alert("SnowboardBase edited successfully");
                                    },
                                    error:function(XMLHttpRequest, textStatus, errorThrown){
                                        alert(textStatus + errorThrown.toString());
                                    }
                                });
                                location.reload();
                                $("#enumSnowboardBaseTable").load(" #snowboardBaseEnumInside");
                                location.reload();

                            }
                        </script>

                        <details>
                            <summary>Edit</summary>

                            <form th:id="'editSnowboardBase' + ${snowboardBase.productId}" th:object="${snowboardBaseModel}">
                                <table>
                                    <input type="hidden" th:id="'productId'" th:name="'productId'" th:value="${snowboardBase.productId}">
                                    <tr>
                                        <td>SnowboardBase Name: </td>
                                        <td><input type="text" th:id="'name'" th:name="'name'" th:value="${snowboardBase.name}"></td>
                                    </tr>
                                    <tr>
                                        <td>SnowboardBase Description:<br>(Accepts HTML) </td>
                                        <td><textarea type="textarea" th:id="'description'" th:name="'description'" class="descriptionColumn"><p th:text="${snowboardBase.description}"></p></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>SnowboardBase Price: </td>
                                        <td><input type="text" th:id="'price'" th:name="'price'" th:value="${snowboardBase.price}"></td>
                                    </tr>
                                    <tr>
                                        <td>SnowboardBase Stiffness: </td>
                                        <td>
                                            <!--<input type="text" th:id="'stiffness'" th:name="'stiffness'" th:value="${snowboardBase.stiffness}">-->
                                            <select class="form-control" th:id="'stiffness'" th:name="'stiffness'">
                                                <option th:each="stiffness : ${#numbers.sequence(1,10)}"
                                                        th:value="${stiffness}"
                                                        th:text="${stiffness}"
                                                        th:selected="${snowboardBase.stiffness == stiffness}"
                                                >Wireframe</option>

                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Category: </td>
                                        <td>
                                            <p th:text="${snowboardBase.categoryDTO?.category}"></p>
                                            <input type="hidden" th:id="'categoryDTO'" th:name="'categoryDTO'" th:value="${categoryModelSnowboard}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>SnowboardBase Style: </td>
                                        <td>
                                            <!--<block class="form-control" th:each="ridingStyle : ${ridingStyles}" id="dropOperator">-->
                                                <!--<th:block th:each="ridingStyleDTO : ${snowboardBase.ridingStyleDTOSet}">-->
                                                    <!--<input type="checkbox" th:id="'ridingStyle'" th:name="'ridingStyle'" th:value="${ridingStyle}" th:if="${ridingStyleDTO.ridingStyleId == ridingStyle.ridingStyleId}" th:checked="${ridingStyleDTO.ridingStyleId == ridingStyle.ridingStyleId}"/>-->
                                                    <!--<label th:text="${ridingStyle.style}" th:if="${ridingStyleDTO.ridingStyleId == ridingStyle.ridingStyleId}"/>-->
                                                <!--</th:block>-->
                                            <!--</block>-->
                                            <block class="form-control" th:each="ridingStyle : ${ridingStyles}" id="dropOperator">
                                                  <input type="checkbox" th:id="'ridingStyle'" th:name="'ridingStyle'" th:value="${ridingStyle}" th:checked="${#sets.contains(snowboardBase.ridingStyleDTOSet, ridingStyle)}"/>
                                                  <label th:text="${ridingStyle.style}"/>
                                            </block>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>SnowboardBase Level: </td>
                                        <td>
                                            <block class="form-control" th:each="ridingLevel : ${ridingLevels}" id="dropOperator">
                                                <input type="checkbox" th:id="'ridingLevel'" th:name="'ridingLevel'" th:value="${ridingLevel}" th:checked="${#sets.contains(snowboardBase.ridingLevelDTOSet, ridingLevel)}"/>
                                                <label th:text="${ridingLevel.level}"/>
                                            </block>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Brand: </td>
                                        <td>
                                            <select class="form-control" th:id="brandDTO" th:name="brandDTO">
                                                <option th:each="brand : ${brands}"
                                                        th:value="${brand}"
                                                        th:text="${brand.name}"
                                                        th:selected="${brand.brandId == snowboardBase.brandDTO?.brandId}"
                                                >Wireframe</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Target Group: </td>
                                        <td>
                                            <select class="form-control" th:id="targetGroupDTO" th:name="targetGroupDTO">
                                                <option th:each="targetGroup : ${targetGroups}"
                                                        th:value="${targetGroup}"
                                                        th:text="${targetGroup.groupName}"
                                                        th:selected="${targetGroup.targetGroupId == snowboardBase.targetGroupDTO?.targetGroupId}"
                                                >Wireframe</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                            <button type="button" th:onclick="'editSnowboardBase(' + ${snowboardBase.productId} + ')'">Edit</button>

                        </details>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="snowboardBaseEnum">

        <div class="snowboardBaseEnumInside">
            <script>

                function SaveForm(url) {

                    var form = $('#saveSnowboardBaseForm');

                    var data = formToJSON(form);

                    $.ajax({
                        url:'snowboard/',
                        type:'post',
                        contentType: "application/json; charset=utf-8",
                        data:data,
                        dataType:'json',
                        success:function(){
                            alert("Added new SnowboardBase!");
                        },
                        error:function(XMLHttpRequest, textStatus, errorThrown){
                            alert(errorThrown.toString());
                            alert("PERMISSION DENIED");
                        }
                    });
                    location.reload();
                    $("#enumSnowboardBaseTable").load(" #enumSnowboardBaseTable>*");
                }
            </script>

            <form th:id="saveSnowboardBaseForm" th:object="${snowboardBaseModel}"  th:action="'/snowboardBase'">
                <table align="center">
                    <tr>
                        <td colspan="2"><h1 class="tableTitle">New SnowboardBase</h1></td>
                    </tr>
                    <tr>
                        <td>SnowboardBase Name: </td>
                        <td><input type="text" th:field="*{name}"></td>
                    </tr>
                    <tr>
                        <td>SnowboardBase Description:<br>(Accepts HTML) </td>
                        <td><textarea type="textarea" th:field="*{description}" class="descriptionColumn"/></td>
                    </tr>
                    <tr>
                        <td>SnowboardBase Price: </td>
                        <td><input type="text" th:field="*{price}"></td>
                    </tr>
                    <tr>
                        <td>SnowboardBase Stiffness: </td>
                        <td>
                            <!--<input type="text" th:id="'stiffness'" th:name="'stiffness'" th:value="${snowboardBase.stiffness}">-->
                            <select class="form-control" th:id="'stiffness'" th:name="'stiffness'">
                                <option th:each="stiffness : ${#numbers.sequence(1,10)}"
                                        th:value="${stiffness}"
                                        th:text="${stiffness}"
                                >Wireframe</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Category: </td>
                        <td>
                            <p>&nbsp &nbsp snowboard</p>
                            <!--<select class="form-control" th:field="*{categoryDTO}">-->
                            <!--<option th:each="category : ${categorys}"-->
                            <!--th:value="${category}"-->
                            <!--th:text="${category.category}">Wireframe</option>-->
                            <!--</select>-->
                            <input type="hidden" th:id="'categoryDTO'" th:name="'categoryDTO'" th:value="${categoryModelSnowboard}">
                        </td>
                    </tr>
                    <tr>
                        <td>SnowboardBase Style: </td>
                        <td>
                            <block class="form-control" th:each="ridingStyle : ${ridingStyles}" id="dropOperator">
                                <input type="checkbox" th:id="'ridingStyle'" th:name="'ridingStyle'" th:value="${ridingStyle}"/>
                                <label th:text="${ridingStyle.style}"/>
                            </block>
                        </td>
                    </tr>
                    <tr>
                        <td>SnowboardBase Level: </td>
                        <td>
                            <block class="form-control" th:each="ridingLevel : ${ridingLevels}" id="dropOperator">
                                <input type="checkbox" th:id="'ridingLevel'" th:name="'ridingLevel'" th:value="${ridingLevel}"/>
                                <label th:text="${ridingLevel.level}"/>
                            </block>
                        </td>
                    </tr>
                    <tr>
                        <td>Brand: </td>
                        <td>
                            <select class="form-control" th:field="*{brandDTO}">
                                <option th:each="brand : ${brands}"
                                        th:value="${brand}"
                                        th:text="${brand.name}">Wireframe</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>TargetGroup: </td>
                        <td>
                            <select class="form-control" th:field="*{targetGroupDTO}">
                                <option th:each="targetGroup : ${targetGroups}"
                                        th:value="${targetGroup}"
                                        th:text="${targetGroup.groupName}">Wireframe</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="button"  th:onclick="'SaveForm(' + '\'' + ${#httpServletRequest.requestURI} + '\'' + ')'">Submit</button>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="New SnowboardBase">

            </form>

        </div>

    </div>

</div>

</body>

</html>