<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <p>Here comes the menu and whatever comes above the menu!!!</p>
    <div>
        <img src = "images/topImage.jpg"  class="topImage"/>
    </div>
    <hr class="longLine"></hr>

    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:classappend="${module == 'Brands' ? 'active' : ''}">
                        <a href="#" th:href="@{/brand}">Brands</a>
                    </li>
                    <li th:classappend="${module == 'Products' ? 'active' : ''}">
                        <a href="#" th:href="@{/product}">Products</a>
                    </li>
                    <li th:classappend="${module == 'Categories' ? 'active' : ''}">
                        <a href="#" th:href="@{/category}">Category</a>
                    </li>
                    <li th:classappend="${module == 'Snowboards' ? 'active' : ''}">
                        <a href="#" th:href="@{/snowboard}">Snowboards</a>
                    </li>

                    <li th:classappend="${module == 'Snowboard Boots' ? 'active' : ''}">
                        <a href="#" th:href="@{/snowboardBoots}">Snowboard Boots</a>
                    </li>



                </ul>
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li th:if="${#authorization.expression('!isAuthenticated()')}">-->
                        <!--<a href="/login" th:href="@{/login}">-->
                            <!--<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li th:if="${#authorization.expression('isAuthenticated()')}">-->
                        <!--<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">-->
                            <!--<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout-->
                        <!--</a>-->
                        <!--<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


</div>